ignore/
.DS_Store
.idea
.env
sc_data/*
!sc_data/sc_loc2017.csv
!sc_data/sc_loc2018.csv
!sc_data/sc_loc2019.csv
!sc_data/sc_loc2020.csv
!sc_data/sc_loc2021.csv
mapping/extra_maps/
mapping/coordinates/__pycache__
AAAI-25/
Traffic-Data-Analysis/
**/__pycache__
mapping/scripts/output/
